*{
}

.branding {
}

.showcase {
    background: url('./img/splash-bnw.png') no-repeat;
    background-position: center;
    height: 700px;
    padding: 170px 100px;
    color: #e7decc;
}

.showcase h1{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.showcase hr{
    width: 100px;
    margin: auto;
    border-width: 3px;
    border-color: #a9a9a9;
}

.showcase p{
    font-size: 16px;
    padding-bottom: 20px;
}

.showcase img{
    width: 180px;
    height: auto;
    border-radius: 100%;
    padding:0;
}

.section {
    padding: 40px 0;
}


.section h2{
    padding:0;
    margin:0;
}

.section h3{
    font-weight: 500;
}

.section .fa{
    font-size: 40px;

}

.section img{
    width: 100%;
}

.section hr{
    width: 70px;
    margin: 10px auto;
    border-width: 2px;
    border-color: #fff;
}

.section a{
    text-decoration: none;
}

/*ADDED*/

    /*Skills*/
.hardskill{
    padding-block: 55px;
    background-image: url(./img/black-panel.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 270px ;
}

.hardskill h2{
    color: #dadedf;
    font-family: 'Teko', sans-serif;
}

.softskill {
    padding-block: 35px;
    background: url(./img/splash-color.png) no-repeat center top;
    background-size: 250px ;
}

.softskill h2{
    color: #fffaf0;
    font-family: 'Teko', sans-serif;
}

.skillList{
    padding: 30px 30px;
}

.skillList .skill{
    padding: 10px;
}

.skillList ul{
    list-style-type: none;
}

.skillList li:hover{
    background-color: #fff;
    color:#000;
    font-weight: bold;
    transition-delay: 0.01s;
    padding: 7px;
}

.appTest{
    margin: auto;
    display: flex;
    padding: 50px;
}

.embed{
    display: flex;;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.embed img{

}

.projectInfo .tooltip {
    visibility: hidden;
    width: 100px;
    background-color: #f9f6ee;
    color: #854b3c;
    text-align: center;
    border-radius: 6px;
    border:solid 0.08px #854b3c;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.projectInfo:hover .tooltip {
    visibility: visible;
}

.projectInfo:hover .inFo p{
    visibility: hidden;
}

.projectInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.inFo{
    border-style: dashed;
    border-width: 0.1px;
    border-radius: 0 20px 20px 20px;
    padding:10px;
    border-color: #854b3c;
}

.info-3d{
    border-style: dashed;
    border-width: 0.1px;
    border-radius: 0 20px 20px 20px;
    padding:10px;
    border-color: #854b3c;
}

.inFo:hover{
    background-color: #f0ede5;
    
}

.inFo h4{
    display: inline-block;
    border-radius: 0 15px 15px 15px;
    border-style: solid;
    border-width: 0.08px;
    padding: 5px;
    margin: 0;
    background-color: #854b3c;
    color: #f4eadc;
}

.info-3d h4{
    display: inline-block;
    border-radius: 0 15px 15px 15px;
    border-style: solid;
    border-width: 0.08px;
    padding: 5px;
    margin: 0;
    background-color: #854b3c;
    color: #f4eadc;
}





@media only screen and (max-width:600px){
    body{
        margin-top: 190px;
    }

    .showcase{
        height: 400px;
        padding:60px 0;
    }
}
